.postDetail__p{
  margin-bottom: 0.5rem;
}

.custom-gradient {
  background: linear-gradient(135deg, #f17768  0%,  rgba(255, 105, 0, 1) 100%);
}

.custom-gradient:hover {
  background: linear-gradient(45deg, #feb47b, #ff7e5f);
  box-shadow: 0 8px 15px rgba(255, 126, 95, 0.3);
}